body {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.btn-primary {
  background-color: var(--color-accent);
  border-color: var(--color-border);
  color: #fff;
  transition: .15s;
}

.btn-primary:hover {
  background-color: #3aa5cc;
}

