/*
 * File: material.css
 * Main responsibility: Part of the CNC Wizard Stepper.
 * Related files: See others in this project.
 * TODO: Extend documentation.
 */

/* Common material selection styles */

@import url('../settings/_variables.css');
@import url('./reset.css');
@import url('../elements/_typography.css');


.btn-cat {
  margin: .35rem .45rem;
  white-space: nowrap;
}

.btn-cat.active {
  color: #fff !important;
  background: #0d6efd !important;
}

.btn-mat {
  width: 100%;
  margin: .25rem 0;
}

.btn-mat.active {
  color: #fff !important;
  background: #198754 !important;
}

/* Dropdown búsqueda */
.dropdown-search {
  position: absolute;
  z-index: 1000;

  overflow-y: auto;
  display: none;

  width: 100%;
  max-height: 200px;
  border: 1px solid #444;

  background: #000;
}

.dropdown-search .item {
  cursor: pointer;
  padding: .5rem .75rem;
  color: #f1f1f1;
}

.dropdown-search .item:hover {
  background: #333;
}

.dropdown-search .hl {
  color: #000;
  background: #ffd54f;
}

#no-match-msg {
  display: none;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}
