.stepper-header {
  align-items: center;
  background-color: var(--bs-dark);
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1050;
}


/* Contenedor con forma poligonal */
.logo-stepper-container {
  align-items: center;
  background: white;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  display: flex;
  height: auto;
  justify-content: center;
  margin-right: 1rem;
  width: 120px;
}

.logo-stepper {
  height: auto;
  width: 100%;
}

.stepper-bar {
  display: flex;
  flex-wrap: nowrap;
}

/* Responsivo: ocultar logo en pantallas <768px */
@media (max-width: 767.98px) {
  .logo-stepper-container {
    display: none !important;
  }

  .stepper-header {
    justify-content: center;
  }

}
