.stepper-header {
  position: sticky;
  top: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--bs-dark);
  padding: 0;
  margin: 0;
  border: none;
}

.logo-stepper {
  width: 120px;
  height: auto;
  margin-right: 1rem;
}

.stepper-bar {
  display: flex;
  flex-wrap: nowrap;
}

/* Responsivo: ocultar logo en pantallas <768px */
@media (width <= 767.98px) {
  .logo-stepper {
    display: none !important;
  }

  .stepper-header {
    justify-content: center;
  }

}
