/*
 * File: _manual.css
 * Main responsibility: Part of the CNC Wizard Stepper.
 * Related files: See others in this project.
 * TODO: Extend documentation.
 */

/* CSS extraído de views/steps/manual/step1.php */

/* Opcional: estilos para box de debugging */
.debug-box {
  overflow-y: auto;

  max-width: 1000px;
  height: 160px;
  margin: 2rem auto 0;
  padding: 1rem;
  border-top: 1px solid #2e5b78;
  border-radius: 6px;

  font-family: monospace;
  font-size: 0.85rem;
  color: #a7d3e9;
  white-space: pre-wrap;

  background: #102735;
}
