/*
 * File: _step2.css
 * Main responsibility: Part of the CNC Wizard Stepper.
 * Related files: See others in this project.
 * TODO: Extend documentation.
 */

/* File: assets/css/step2_manual.css */

/* Estilos específicos para el paso 2 manual */

.tool-image {
  display: block;

  width: 100%;
  height: auto;
  border-radius: 0.5rem;

  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 25%);
}
