/*
 * File: _step3.css
 * Main responsibility: Part of the CNC Wizard Stepper.
 * Related files: See others in this project.
 * TODO: Extend documentation.
 */

/* Infinite scroll styles for step3 */
@import url('../settings/_variables.css');
@import url('../generic/_reset.css');
@import url('../elements/_typography.css');

body {
  --bs-body-bg: #0d1117;
  --bs-body-color: #e0e0e0;

  background-color: #212529; /* UNIFICADO A DARK */
  color: var(--bs-body-color);
}


#scrollSentinel {
  height: 1px;
  visibility: hidden;
  width: 100%;
}
