/*
 * File: stepper.css
 * Main responsibility: Part of the CNC Wizard Stepper.
 * Related files: See others in this project.
 * TODO: Extend documentation.
 */
.stepper-header {
  align-items: center;
  background-color: #212529; /* UNIFICADO A DARK */
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.logo-stepper {
  height: auto;
  margin-right: 1rem;
  width: 120px;
}

.stepper-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* permite scrolleo horizontal */
  scrollbar-width: thin; /* Firefox */
}

.stepper-bar::-webkit-scrollbar {
  display: none; /* oculta scrollbar en navegadores WebKit */
}

/* Responsivo: ocultar logo en pantallas <768px */
@media (width <= 767.98px) {
  .logo-stepper {
    display: none !important;
  }

  .stepper-header {
    justify-content: center;
  }

}
